<div>
   <div class="${noticeBtn=='noticeBtn'?'active':'' }">
     <a href="#" class="has-son">
       <i></i>
       <span>公告栏</span>
     </a>
     <div>
       <a class="${informBtn=='informBtn'?'selected':'' }" href="${pageContext.request.contextPath }/web/notice/inform">通知管理</a>
       <a class="${calendarBtn=='calendarBtn'?'selected':'' }" href="${pageContext.request.contextPath }/web/notice/calendar">校历管理</a>
       <a class="${recipeBtn=='recipeBtn'?'selected':'' }" href="${pageContext.request.contextPath }/web/notice/recipe">食谱管理</a>
     </div>
   </div>
   <div class="${archivesBtn=='archivesBtn'?'active':'' }">
     <a href="#" class="has-son" >
       <i></i>
       <span>成长档案</span>
     </a>
     <div>
       <a class="${healthBtn=='healthBtn'?'selected':'' }" href="${pageContext.request.contextPath }/web/archives/archives_headmaster_health">体检信息</a>
       <a class="${toothBtn=='toothBtn'?'selected':'' }" href="${pageContext.request.contextPath }/web/archives/archives_headmaster_tooth">牙齿涂氟</a>
     </div>
   </div>
 </div>