<div>
   <div th:class="${systemBtn=='systemBtn'?'active':'' }">
     <a href="#" class="has-son">
       <i></i>
       <span>系统管理</span>
     </a>
     <div>
       <a th:class="${classBtn=='classBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/system/class">班级管理</a>
       <a th:class="${teacherBtn=='teacherBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/system/teacher">教师管理</a>
       <a th:class="${studentBtn=='studentBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/system/student">学生管理</a>
     </div>
   </div>
   <div class="${noticeBtn=='noticeBtn'?'active':'' }">
     <a href="#" class="has-son">
       <i></i>
       <span>公告栏</span>
     </a>
     <div>
       <a th:class="${informBtn=='informBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/notice/inform">通知管理</a>
       <a th:class="${calendarBtn=='calendarBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/notice/calendar">校历管理</a>
       <a th:class="${recipeBtn=='recipeBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/notice/recipe">食谱管理</a>
     </div>
   </div>
   <div th:class="${archivesBtn=='archivesBtn'?'active':'' }">
     <a href="#" class="has-son">
       <i></i>
       <span>成长档案</span>
     </a>
     <div>
       <a th:class="${diaryBtn=='diaryBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/archives/archives_headmaster">成长日记</a>
       <a th:class="${healthBtn=='healthBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/archives/archives_headmaster_health">体检信息</a>
       <a th:class="${toothBtn=='toothBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/archives/archives_headmaster_tooth">牙齿涂氟</a>
     </div>
   </div>
   <div th:class="${growthBtn=='growthBtn'?'active':'' }">
     <a th:href="${pageContext.request.contextPath }/web/growth/advice_headmaster">
       <i></i>
       <span>成长建议</span>
     </a>
   </div>
   <div th:class="${teachprogramBtn=='teachprogramBtn'?'active':'' }">
     <a th:href="${pageContext.request.contextPath }/web/teachprogram/teach_program">
       <i></i>
       <span>教学计划</span>
     </a>
   </div>
  <!-- <div th:class="${signinBtn=='signinBtn'?'active':'' }">
     <a href="${pageContext.request.contextPath }/web/signin/signin_headmaster">
       <i></i>
       <span>签到管理</span>
     </a>
   </div> -->
   <div th:class="${leaveBtn=='leaveBtn'?'active':'' }">
     <a th:href="${pageContext.request.contextPath }/web/leave/leave_headmaster" >
       <i></i>
       <span>请假管理</span>
     </a>
   </div>
   <div th:class="${picvidBtn=='picvidBtn'?'active':'' }">
     <a href="#" class="has-son">
       <i></i>
       <span>图片/视频管理</span>
     </a>
     <div>
       <a th:class="${imgBtn=='imgBtn'?'selected':'' }"  th:href="${pageContext.request.contextPath }/web/picvid/img_headmaster">图片管理</a>
       <a th:class="${vidBtn=='vidBtn'?'selected':'' }" th:href="${pageContext.request.contextPath }/web/picvid/video_headmaster">视频管理</a>
     </div>
   </div>
 </div>