<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="header">

	<div class="m-header">
      <div>
        <div class="logo">
          <a href="#"></a>
          <span>幼儿园管理系统</span>
        </div>
        <div class="user">
          <a th:href="@{/web/user/logout}">
          <span class="i3">
          </span>
          </a>
          <div class="i2 have-new">
          </div>
          <div class="i1" style="width: 150px" th:text="${session.loginUser.name }">
          
          </div>
        </div>
      </div>
    </div>

    <div class="m-nav">
		<th:block th:if="${session.loginUser.role == 0 }" >
			<th:block th:replace="~{web/pub/header_admin :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 1 }" >
			<th:block th:replace="~{header_director_one :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 2 }" >
			<th:block th:replace="~{header_director_two :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 3 }" >
			<th:block th:replace="~{header_director_three :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 4 }" >
			<th:block th:replace="~{header_teacher_one :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 5 }" >
			<th:block th:replace="~{header_teacher_two :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 6 }" >
			<th:block th:replace="~{header_doctor :: html}"></th:block>
		</th:block>
		<th:block th:if="${session.loginUser.role == 7 }" >
			<th:block th:replace="~{header_student :: html}"></th:block>
		</th:block>
    </div>
    
 	</th:block>
</html>    